<div class="loading" [class.d-block]="loading" [class.d-none]="!loading"> <img class="w-50" src="/assets/images/bumblestudioloader.gif" alt=""></div>
<div class="container-fluid ">
    <div class="row">
      <div class="col-12 text-center">
        <img src="/assets/images/LogoBlack.png" class="headerLogoImg" alt="" [routerLink]="''">
      </div>
    </div>
  </div>
  <app-header></app-header>
  <div class="flower-design" style="margin: 2% auto;">
    <span class="leftLine d-inline-block"></span><span  class=" centerFlowerImg d-inline-block">   <img src="/assets/images/1.png" alt=""></span><span class="rightLine d-inline-block"></span>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-12 col-xl-12 col-lg-12 col-md-12">
              <h1 class="servicesHeader">Services</h1>
          </div>
      </div>
      <div class="row servicesRow-1">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="servicesSecImage">
                <img class="servicesSecLogo" [src]="services1_img" alt="">
              </div>
              <div class="servicesSecContent mt-4 mb-4">
                <h4 class="servicesName">{{services1_text}}</h4>
              </div>



          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="servicesSecImage">
                <img class="servicesSecLogo" [src]="services2_img" alt="">
            </div>
            <div class="servicesSecContent mt-4 mb-4">
                <h4 class="servicesName">{{services2_text}}</h4>
            </div>



        </div>
      </div>
      <div class="row servicesRow-2">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="servicesSecImage">
                <img class="servicesSecLogo" [src]="services3_img" alt="">
            </div>
            <div class="servicesSecContent mt-4 mb-4">
                <h4 class="servicesName">{{services3_text}}</h4>
            </div>



        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="servicesSecImage">
                <img class="servicesSecLogo"  [src]="services4_img" alt="">
            </div>
            <div class="servicesSecContent mt-4 mb-4">
                <h4 class="servicesName"> {{services4_text}}</h4>
            </div>



      </div>
    </div>
    <div class="row servicesRow-3">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="servicesSecImage">
                <img class="servicesSecLogo" [src]="services5_img" alt="">
            </div>
            <div class="servicesSecContent mt-4 mb-4">
                <h4 class="servicesName">{{services5_text}}</h4>
            </div>



        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="servicesSecImage">
                <img class="servicesSecLogo" [src]="services6_img" alt="">

            </div>
            <div class="servicesSecContent mt-4 mb-4">
                <h4 class="servicesName">{{services6_text}}</h4>
            </div>



      </div>
    </div>
    <div class="row servicesRow-4">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="servicesSecImage">
                <img class="servicesSecLogo" [src]="services7_img" alt="">

            </div>
            <div class="servicesSecContent mt-4 mb-4">
                <h4 class="servicesName">{{services7_text}}</h4>
            </div>



        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="servicesSecImage">
                <img class="servicesSecLogo"[src]="services8_img" alt="">
            </div>
            <div class="servicesSecContent mt-4 mb-4">
                <h4 class="servicesName">{{services8_text}}</h4>
            </div>



      </div>
    </div>
    <div class="row servicesRow-5">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="servicesSecImage">
                <img class="servicesSecLogo" [src]="services9_img" alt="">
            </div>
            <div class="servicesSecContent mt-4 mb-4">
                <h4 class="servicesName">{{services9_text}}</h4>
            </div>



        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="servicesSecImage">
                <img class="servicesSecLogo" [src]="services10_img" alt="">
            </div>
            <div class="servicesSecContent mt-4 mb-4">
                <h4 class="servicesName">{{services10_text}}</h4>
            </div>


      </div>
    </div>

  </div>
  <div class="container-fluid clientSays mt-5 ">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12-col-xl-12 col-lg-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12-col-xl-12 col-lg-12">

                        <h1  class="clinetSaysHeader mt-5">What Our Client says</h1>


                </div>
            </div>
            <div class="container">
                <div class="row clientSaysContent">
                    <div class="col-12 col-sm-12 col-md-12-col-xl-12 col-lg-12">


                    </div>

                </div>

            </div>

        </div>
    </div>



</div>
