<div class="loading" [class.d-block]="loading" [class.d-none]="!loading"> <img class="w-50" src="/assets/images/bumblestudioloader.gif" alt=""></div>
<div class="container-fluid footer">
    <div class="row">
        <div class="col-12 col-sm-12 col-xl-4 col-md-12 col-lg-4 footRow1">
            <div class="row text-center">
                <div class="col-12">
                    <img   routerLink="" style="z-index: 10000;"  class="footLogo w-50 mt-1" src="/assets/images/logo.png" alt="">
                </div>

            </div>
            <div class="row socialMedia">
                <div class="col-4 youtube">
                    <i class="fab fa-youtube"></i>
                </div>
                <div class="col-4 instagram">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="col-4 facebook">
                    <i class="fab fa-facebook"></i>
                </div>
            </div>



        </div>
        <div class="col-12 col-sm-12 col-xl-4 ol-md-12 col-lg-4 footRow2 mt-5">
            <div class="row  ">
                <div class="col-6 quickLinks">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="quicklinksheader text-white">Quick Link</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 servicesContent">
                            <ul class="text-white p-0" style="cursor: pointer;">
                                <li [routerLink]="''" (click)="pagetop()">Home</li>
                                <li [routerLink]="'../gallery'" (click)="pagetop()">Gallery</li>
                                <li [routerLink]=" '../services'" (click)="pagetop()">Services</li>
                                <li [routerLink]="'../contactus'" (click)="pagetop()">Contact Us</li>



                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 services">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="quicklinksheader text-white">Services</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 servicesContent">
                            <ul class="text-white p-0" style="cursor: pointer;">
                                <li>Bumble studios</li>
                                <li>Bumble Events</li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>



        </div>
        <div class="col-12 col-sm-12 col-xl-4 col-md-12 col-lg-4 footRow3  mb-sm-5 mb-5">

                <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.9696201088627!2d78.14667801744383!3d9.936485699999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c50326072a17%3A0x89cd8607e58c5791!2sBUMBLE%20STUDIOS!5e0!3m2!1sen!2sin!4v1646471557611!5m2!1sen!2sin" width="auto" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>





        </div>
    </div>
    <div class="row d-xl-block d-none d-md-none">
        <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
            <div
      class="copy-rights   text-center mt-3 mb-2 d-flex justify-content-center"
    >
      <span></span
      ><span class="company-copy text-white"
        >© 2022, Bumble Studios. Designed and Developed By
        <a href="https://chronoinfotech.com/" style="text-decoration: none; color: #ffd505;">Chrono Infotech</a></span
      >
    </div>
        </div>
    </div>


    <div class="row d-xl-none d-block d-md-block">
      <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
          <div
    class="copy-rights   text-center mt-3 mb-2 d-flex justify-content-center"
  >
    <span></span
    ><span class="company-copy text-white"
      >© 2022, Bumble Studios. <br> Designed and Developed By
      <a href="https://chronoinfotech.com/" style="text-decoration: none; color: #ffd505;">Chrono Infotech</a></span
    >
  </div>
      </div>
  </div>
</div>
